@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #000;
  color: #fff;
}

body {
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF00FF;
}

.text-gradient {
  background: linear-gradient(to right, #FF00FF, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media print {

  html,
  body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  body * {
    visibility: hidden;
  }

  #printable-ticket,
  #printable-ticket * {
    visibility: visible;
  }

  #printable-ticket {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    max-width: 350px;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}